<p id="notice"><%= notice %></p>

<p>
  <strong>Icon:</strong>
  <%= @icon.icon %>
</p>

<p>
  <strong>Url:</strong>
  <%= @icon.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @icon.title %>
</p>

<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
